workspace = { members = ["afl-fuzz"] }
[package]
name = "vm2"
version = "0.1.0"
edition = "2021"
homepage = "https://zksync.io/"
license = "MIT OR Apache-2.0"
authors = ["The Matter Labs Team <hello@matterlabs.dev>"]

[dependencies]
zkevm_opcode_defs = { git = "https://github.com/matter-labs/era-zkevm_opcode_defs.git", branch = "v1.5.0" }
zk_evm_abstractions = {git = "https://github.com/matter-labs/era-zk_evm_abstractions.git", branch = "v1.5.0" }
u256 = { package = "primitive-types", version = "0.12.1" }
enum_dispatch = "0.3"
arbitrary = { version = "1", features = ["derive"], optional = true }
zk_evm = { git = "https://github.com/matter-labs/era-zk_evm.git", branch = "jms-remove-assert", optional = true }
anyhow = { version = "1", optional = true }

[dev-dependencies]
divan = "0.1"
proptest = "1.4"

[[bench]]
name = "nested_near_call"
harness = false

[features]
single_instruction_test = ["arbitrary", "u256/arbitrary", "zk_evm", "anyhow"]
trace = []
