[package]
name = "vm2"
version = "0.1.0"
edition = "2021"

[dependencies]
zkevm_opcode_defs = { git = "https://github.com/matter-labs/era-zkevm_opcode_defs.git", branch = "v1.5.0" }
zk_evm_abstractions = {git = "https://github.com/matter-labs/era-zk_evm_abstractions.git", branch = "v1.5.0" }
u256 = { package = "primitive-types", version = "0.12.1" }
enum_dispatch = "0.3"
arbitrary = { version = "1", features = ["derive"] }

[dev-dependencies]
divan = "0.1"
proptest = "1.4"

[[bench]]
name = "nested_near_call"
harness = false